# Python
__pycache__/
*.py[cod]
*.pyo
venv/
env/
.env
.env.*
chef.db

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# Build files
dist/
build/

# Logs
*.log

# Secrets
*.pem
*.key